// Define all constnts here
// Included in all other files

$title-color: #515047;
$subtitle-color: #d4d3c0;

$text-color: #b9b8a4;
$aux-text-color: #949488;
$bg-color: #f2f1db;

$hilight-text-color: #54544d;
$hilight-aux-text-color: #7b7b71;
$hilight-bg-color: #dfddb2;

$remarkable-text-color: #3a7cbf;
$remarked-text-color: #27537f;

$shadow-color: #515047;

@import "compass";
